/* Style for image placeholder */
.image-placeholder-large {
    /* Task 1 styling */
    width: 100%;
    height: 400px;
}

/* Style for product image */
.product-image-large {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Style for 'no image available' placeholder */
.no-image-available-large {
    /* Task 3 styling */
    background-color: #ddd;
    /* A neutral background color */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #666;
}

/* Style for card header */
.card-header {
    /* Task 4 styling */
    background-color: #0056b3; /* Strong, confident blue */
    color: white; /* For text on primary color background */
}

/* Style for details title */
.details-title {
    /* Task 5 styling */
   font-weight: bolder;
    /* Darker grey */
}

/* Style for comments section */
.comments-section {
    /* Task 6 styling */
    margin: 10px;
    padding: 2px;
}